<!doctype html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>账号重新激活</title>
	<script type="text/javascript" src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
	<script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
	<link href="{% static 'css/footer.css' %}" rel="stylesheet" />
	<link href="{% static 'css/ver_code.css' %}" rel="stylesheet" />
	<script src="{% static 'js/md5.js' %}"></script>
	<script src="{% static 'js/ver_code.js' %}"></script>
    <script src="{% static 'js/login_teacher.js' %}"></script>
	<script src="{% static 'js/check_reactivate.js' %}"></script>
<body>
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom:0">
			<div class="container-fluid">
			<div class="navbar-header col-md-3">
				<a class="navbar-brand" href="javascript:void(0))">智学云——教学办公一体化系统</a>
			</div>
			<div class="col-md-offset-10">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:void(0))"><b class="glyphicon glyphicon-flash"></b>账号重新激活</a></li>
				</ul>
			</div>
			</div>
		</nav>
		<div class="jumbotron text-center" id="header">
			<h1>欢迎使用智学云——教学办公一体化平台！</h1>
		</div>
<div class="wrap flex-c-c">
<!-- <h1 class="welcome">欢迎使用智学云——教学办公一体化系统!</h1> -->
  <form action="{% url 'zxy:reactivate' %}" method="post" class="flex-c-c" onsubmit="return check_reactivate()">
	  {% csrf_token %}
	<h1 class="warning">账号重新激活页面</h1>
    <ul class="select__list">
      <li id="js-usr-new" class="select__label select__label--active"><a href="{% url 'zxy:reactivate' %}">账号重新激活</a></li>
    </ul>
    <span class="pointer --usr-new"></span>
    <input type="number" name="teacherid" placeholder="职工号" class="ui-field" id="js-field__id" required="required"/>
      <span class="error" id="id_error"></span>
    <input type="password" name="teacherpaw" placeholder="密码" class="ui-field" id="js-field__pass" required="required"/>
      <span class="error" id="pass_error"></span>
	<input type="text" value="" placeholder="请输入验证码（不区分大小写）" class="input-val" required="required">
	  <span class="error text-center" id="vc_error"></span>
	  <canvas class="center-block" id="canvas" width="100" height="30"></canvas>
    <button id="js-btn" class="vcbtn ui-button" type="submit">重新激活</button>
  </form>
</div>
<footer class="bs-docs-footer">
		  <div class="container">
		    <ul class="bs-docs-footer-links">
		      <li><a href="http://www.ynu.edu.cn">云南大学</a></li>
		      <li><a href="#">联系我们</a></li>
		      <li><a href="#">关于</a></li>
		    </ul>
			<h4>
			  <strong>智学云——教学办公一体化平台</strong>
			</h4>
		    <p>我们一直致力于为广大师生提供更多的优质服务！</p>
		  </div>
		</footer>

</body>
</html>


